.bar{
    background-color:rgb(52, 42, 16);
    height:300px;
}

nav ul{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100px;
}

nav ul li{
    padding:0px 20px;
    color: white;
    list-style: none;
    padding: 35px;
}

nav ul li a{
    color:white;
    padding: 20px;
}
.with{
    overflow:hidden;
    width:auto;
}

.work-button > i{
    color:white;
}

.work{
    padding:30px 20px;
    width:300px;
    border-radius:14px;
    right:10px;
    font-size: 18px;
    border:none;
    background-color:rgb(230, 163, 7);
    color:rgb(0, 0, 0);
    position:relative;
    top:7px;
}

.text{
    display:flex;
    justify-content: space-around;
    align-items:center;
    color:white;
    font-family:'Actor' , sans-serif;
}

.text-left >h2{
    font-size:32px;
    font-weight:100;
    padding:10px 0px;
}

.text-left > h4{
    padding:10px 0px;
}

.text-right >h3{
    font-size:32px;
    font-weight:100;
    padding:10px 0px;
}


.cont{
    display:flex;
    justify-content:space-around;
    background-color: rgb(224, 219, 219);
}

.gallery{
    display:grid;
    position:relative;
    bottom:-50px;
    margin-left: 300px;
}

.gallery img{
    height:550px;
}

.pics img{
    height:100px;
}

.pics{
    display:flex;
    justify-content: space-between;
}

.profile{
    margin-right: 0px;
    display:grid;
    justify-items:center;
    align-content: space-between;
    border-radius: 19px;
    position:relative;
    bottom:-50px;
    box-shadow: rgba(101, 100, 111, 0.2) 0px 7px 29px 0px;
    height:550px;
    width:405px;
    
}

.profile-name{
    display:flex;
    align-items:center;
    width:350px;
    position:relative;
    bottom:-10px;
    border-radius:10px;
    background-color: rgb(225, 225, 225);
    height:70px;
  
}

.card-name > h4{
    font-weight: 200;
}

.card-name > p{
    font-weight: 200;
    color:orange;
}

.profile-name img{
    width:60px;
    height:70px;
    border-radius:50%;
}

form{
    display:grid;
    align-content:space-between;
    overflow: hidden;
    height:450px;
}

.form-container{
    display:flex;
    flex-direction: column;
    border:none;
    border-radius:8px;
    height:60px;
}


.form-container > input{
    outline:none;
    height:50px;
    color:black;
    position:relative;
    right:-30px;
    font-size:18px;
    border:.5px solid rgb(226, 226, 226);
    width:350px;
    border-radius:8px;
}

.form-container > input::placeholder{
    color:black;
    position:relative;
    border: 8px;
    right:-20px;
}

.learnmore-container{
    height:120px;
    overflow: hidden;
    position: relative;
    top:-100px;
    right:-20px;
}
.learn{
    padding:20px 10px;
    width:400px;
    height:100px;
    border-radius:20px;
    font-size:20px;
    border:none;
    background-color:black;
    color:rgb(255, 255, 255);
    position:relative;
    top:20px;
    right:20px;
}

.learn> i{
    color: orange;
}