*{
    padding:0;
    margin:0;
}
.container1{
    background-image:url('../images/moving\ 1.png');
    background-position:center;
    background-size:cover;
    height:100vh;
}

.container1 > nav > ul > li{
    list-style:none;
    padding:0px 20px;
}

.container1 > nav > ul{
    display:flex;
    justify-content:center;
    align-items: center;
    height:100px;
}

.container1 > nav > ul > li > a{
    padding: 25px;
    text-decoration:none;
    color:white;
    
}
.page-container{
    overflow:hidden;
}

.btn{
    padding:6px 20px;
    border:none;
    margin-right:50px;
    background-color:rgb(248, 248, 53);
  
}

.btn1{
    border:none;
    padding:6px 20px;
    background-color:rgb(0, 0, 0);
    color: yellow;
}

.change h1{
    color:rgb(237, 237, 68);
    font-size:40px;
    font-family:'Adamina' , sans-serif;
    max-width:600px;
    font-weight:400;
}

.change{
    margin:7px 7px 7px 7px;
    position:relative;
    flex-direction:column;
    justify-content: space-evenly;
    height:80vh;
    right:-50px;
    display:flex;
    
}


.change h3{
    max-width:600px;
    color:rgb(209, 209, 209);
    font-family:'Poppins', sans-serif;
    font-size:25px;
    font-weight:400;
}
.hr{
    width: 160px;
    margin-left: 200px;
    border-top: 5px solid;
    color: rgb(255, 136, 0);
}

.hr1{
    width: 160px;
    margin-left: 10px;
    border-top: 5px solid;
    color: rgb(255, 136, 0);
}

.containerm h1{
    font-size:48px;
    font-weight:400;
    position:relative;
    right:-200px;
    margin-bottom:100px;
}

.containercut{
    display:flex;
    justify-content:space-between;
    margin:50px 0px;
    }

.about-image img{
    width:500;
}

.about-text-container{
    justify-content:start;
    align-items: center;
    display:flex;
    width:1100px;
}
.about-text{
    height:300px;
    width:400px;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    overflow:hidden;
}

.about-text > h1{
    font-size:48px;
    font-weight:400;
}

.about-text > h3{
    color:rgb(110, 110, 110);
    font-family:'Poppins', sans-serif;
    font-weight:400;
    max-width:400px;
    align-items:flex-start;
}

.learnmore-button{
    padding:20px 10px;
    width:150px;
    border-radius:12px;
    border:none;
    background-color:black;
    color:yellow;
    position:relative;
    top:7px;
    right:10px;
}






.movers{
    display:grid;
    grid-template-columns:300px 300px 300px;
    justify-content: center;
    row-gap:20px;
    background-color: rgb(236, 236, 229);
}
.mover-card{
    display:grid;
    padding:10px;
}

.mover-card img{
    width:250px;
}

.mover-card h4{
    padding:20px 0px;

}

.mover-icon{
    width:250px;
    display:flex;
}
.mover-icon i{
    border-bottom:none;
    width:100px;
    justify-content: flex-end;
    height:30px;  
}


.containerf{
    background-color:black;
    color:white;
    height:300px;
    
}

.containerf > h3{
    font-size: 35px;
    font-weight:400;
    padding:50px;
    position: relative;
    right:-140px;

}

.containerf > h3 > span{
    color: rgb(255, 136, 0);
}

.section-footer{
    justify-content: space-around;
    display:flex;

}

.media{
    display:flex;
    justify-content: space-around;
    align-items:center;
    width:100px;
    }

.clmn{
    display:grid;
}

.clmn p{
    font-size: 19px;
}

.clmn > a{
    text-decoration: none;
    color: grey;
    line-height:1.5;
}
.goes{
    list-style-type: none;
    color: gray;
    font-size: 18px;
}




************************************************************************************************************************

